@{
    ViewData["Title"] = "Главная";
    @model MoneyMind.ViewModels.AddSpendViewModel

}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в лучшее приложение для учета ваших финансов!</h1>
</div>


<form asp-action="AddSpend" asp-controller="Home" asp-anti-forgery="true">
    <div class="spend-form" style="margin: 60px 60px 60px 60px">

        <div class="amount-form-text">
            <label asp-for="SpendCost">Введите сумму:</label>
            <input class="input-group-text" type="text" asp-for="SpendCost" />
            <span asp-validation-for="SpendCost" />
        </div>

        <div class="category-form-text">
            <label asp-for="SpendCategory">Введите категорию:</label>
            <input class="input-group-text" type="text" asp-for="SpendCategory" />
            <span asp-validation-for="SpendCategory" />
        </div>

        <input type="submit" value="Добавить" class="btn btn-dark" style="margin-top:12px; margin-bottom:12px" />
    </div>
</form>

